<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Update Jobs Details</title>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet"/>
	<link href="../static/css/styles.css" th:href="@{/css/styles.css}"
	rel="stylesheet" />
</head>
<body class="container">
<div class="row d-flex justify-content-center">
<div class="col-9 d-flex justify-content-center div-style">
<form th:action="update" method="post">  
        	<h1 class="display-3" style="color:red">Update Job</h1>
        	<input type="hidden" name="jobId" value="jobId" th:value="${job.jobId}" />
            <table class="table table-hover">  
                <tr class="form-group">  
                    <td><label for="jobId" >Job Id</label></td>  
                    <td><input type="number" name="jobId" th:value="${job.jobId}" class="form-control" required min="1" readonly="true"/></td>  
                </tr>
                 <tr class="form-group">  
                    <td><label for="jobCode">Job Code</label></td>  
                    <td><input type="text" name="jobCode" th:value="${job.jobCode}" class="form-control" required/></td>  
                </tr>  
                <tr class="form-group">  
                    <td><label for="jobName">Job Name</label></td>  
                    <td><input type="text" name="jobName" th:value="${job.jobName}" class="form-control" required/></td>  
                </tr>  
                <tr class="form-group">  
                    <td><label for="jobDesc">Job Description</label></td>  
                    <td><input type="text" name="jobDesc" th:value="${job.jobDesc}" class="form-control" required/></td>  
                </tr>  
               <tr class="form-group">  
                    <td><label for="pubDate">Published Date</label></td>  
                    <td><input type="text" name="pubDate" th:value="${job.pubDate}" class="form-control" required/></td>  
                </tr>  
                  <tr class="form-group">  
                    <td><label for="numVacancy">No of Vacancies</label></td>  
                    <td><input type="number" name="numVacancy" th:value="${job.numVacancy}" class="form-control" required min="1"/></td>  
                </tr>  
                <tr class="form-group">  
                    <td></td>  
                    <td><input type="submit" value="Update Job" class="btn btn-danger"/></td>  
                </tr>  
            </table>  
             <strong><a href="/display" class="nav-link">Go back</a></strong>
        </form>  
        
</div>
</div>
		
</body>
</html>