<!-- Janelle Baetiong (300966120) and Sadia Rashid (300963357)
	 COMP303 - 001 - Lab Assignment#4  -->

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Error Page</title>
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet"/>
<link href="../static/css/styles.css" th:href="@{/css/styles.css}"
	rel="stylesheet" />

</head>
<body class="container">
<div class="row justify-content-center">
<div class="col-9 justify-content-center div-style">
		<h1 style="color: red;">Error</h1>
		<table class="table table-striped">
			<tr>
				<th >Date</th>
				<td th:text="${timestamp}" />
			</tr>
			<tr>
				<th>Message</th>
				<td th:text="${message}" />
			</tr>
			<tr>
				<th>Path</th>
				<td th:text="${path}" />
			</tr>
			<tr>
				<th>Error</th>
				<td th:text="${error}" />
			</tr>
			<tr>
				<th>Status</th>
				<td th:text="${status}" />
			</tr>
			
		</table>
		<div >
				<a href="/" class="nav-link">Back to Main</a>
		</div>
	</div>
</div>
	
</body>
</html>