<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Category - Display One</title>
</head>
<body>
<table border="1" style="margin:0 auto">
		<tr>
				<tr >
			<th>Organization Id</th>
			<th>Organization Name</th>
			<th>Address</th>
			<th>Postal Code</th>
			<th>Phone No</th>
			<th>Email</th>
			<th>Web site</th>
			<th></th>
			<th></th>
		</tr>
		</tr>
		<tr>
			<td th:text="${organization.orgId}">Organization Id</td>
			<td th:text="${organization.orgName}">Organization Name</td>
			<td th:text="${organization.address}">Address</td>
			<td th:text="${organization.postalCode}">Postal Code</td>
			<td th:text="${organization.phoneNo}">Phone No</td>
			<td th:text="${organization.email}">Email</td>
			<td th:text="${organization.website}">Web site</td>	
			<td>
				<form action="#" th:action="@{'/organization/update/{orgId}'(orgId=${organization.orgId})}" th:method="GET"> 	
					<input type="hidden" name="_method" value="update" />
  					<button type="submit" id="submitButton">UPDATE</button>
				</form>
			</td>	
			<td>
				<form action="#" th:action="@{'/organization/delete/{orgId}'(orgId=${organization/orgId})}" th:method="POST"> 	
					<input type="hidden" name="_method" value="delete" />
  					<button type="submit" id="submitButton">DELETE</button>
				</form>
			</td>				
		</tr>
		</table>
		<div style="text-align:center">
		<a href="/">Home</a>  
		</div>
</body>
</html>