<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Update Jobs Details</title>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet"/>
	<link href="../static/css/styles.css" th:href="@{/css/styles.css}"
	rel="stylesheet" />
</head>
<body class="container">
<div class="row d-flex justify-content-center">
<div class="col-9 d-flex justify-content-center div-style">
<form th:action="update" method="post">  
        	<h1 class="display-3" style="color:red">Update Organization</h1>
        	<input type="hidden" name="orgId" value="orgId" th:value="${organization.orgId}" />
            <table class="table table-hover">  
                <tr class="form-group">  
                    <td><label for="orgId" >Organization Id</label></td>  
                    <td><input type="number" name="orgId" th:value="${organization.orgId}" class="form-control" required min="1" readonly="true"/></td>  
                </tr>
                 <tr class="form-group">  
                    <td><label for="orgName">Organization Name</label></td>  
                    <td><input type="text" name="orgName" th:value="${organization.orgName}" class="form-control" required/></td>  
                </tr>  
                <tr class="form-group">  
                    <td><label for="address">Address</label></td>  
                    <td><input type="text" name="address" th:value="${organization.address}" class="form-control" required/></td>  
                </tr>  
                <tr class="form-group">  
                    <td><label for="postalCode">Postal Code</label></td>  
                    <td><input type="text" name="postalCode" th:value="${organization.postalCode}" class="form-control" required/></td>  
                </tr>  
               <tr class="form-group">  
                    <td><label for="phoneNo">Phone No</label></td>  
                    <td><input type="text" name="phoneNo" th:value="${organization.phoneNo}" class="form-control" required/></td>  
                </tr>  
                  <tr class="form-group">  
                    <td><label for="email">Email</label></td>  
                    <td><input type="email" name="email" th:value="${organization.email}" class="form-control" required min="1"/></td>  
                </tr>  
                 <tr class="form-group">  
                    <td><label for="website">Web site</label></td>  
                    <td><input type="text" name="website" th:value="${organization.website}" class="form-control" required min="1"/></td>  
                </tr>  
                <tr class="form-group">  
                    <td></td>  
                    <td><input type="submit" value="Update Job" class="btn btn-danger"/></td>  
                </tr>  
            </table>  
             <strong><a href="/display" class="nav-link">Go back</a></strong>
        </form>  
        
</div>
</div>
		
</body>
</html>